body{
    background-color: #eff2f5;
}

.postMaker__container{
    display: flex;
    justify-content: center;
}   

.postMaker__content{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: max-content;
}

/* ************ TOP AREA************* */
.topIcons__color{
color: rgb(90, 88, 88);
}

.postMaker__top{
    display: flex;
    justify-content:end;
    background-color: lightgray;
}
.postMakerTop__option{
    padding: 0 3px;
    display: flex;
    align-items: center;
    flex: 1;
    color: rgb(70, 105, 150);
    height: 2rem;
    cursor: pointer;
}

.postMakerTop__option > h3:hover{
    color: rgb(51, 84, 126);
}

.postMakerTop__option > h3{
    padding-left: 2px;
    font-size: .8rem;
}

.top__close{
    padding-left: 8rem;
    padding-top: .3rem;
}


/* ************ MIDDLE AREA************* */
.postMaker__mid{
    border-bottom: 2px solid lightgray;
    padding: 10px;
    height: max-content;
    display: flex;
}

.postMaker__mid > form{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.postMaker__mid > form >input{
    outline-width: 0;
    border: none;
    margin: .5rem .6rem;
    font-size: .9rem;
}

.selected__input__gif{
    margin: 1rem auto;
}

.postMaker__input{
    flex:  1;
}


/* ************ BOTTOM AREA************* */
.postMaker__bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.postMaker__option{
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 236, 236);
    margin: 6px;
    height: 2.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.postMaker__option > h3{
    font-size: medium;
    margin-left: 10px;
}

.postMaker__option:hover{
    background-color: #eff2f5;
}

.bottom__buttons{
    display: flex;
    justify-content: flex-end;
    margin: .4rem;
    gap: 1rem;
}

.bottom__buttons > button{
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom__buttons > button:hover{
    background-color: #fff;    
    cursor: pointer;
}


/* ************ BOTTOM AREA************* */
.giphy__container{
    display:flex;
    /* justify-content:center; */
    align-items: flex-start;
    position:absolute;
    top: 16rem;
    left: 31rem;
    border: 1px solid black;
    border-radius: 4px;
    margin-top:.5rem
}

.giphy__area{
    background-color: #fff;
    height: fit-content;
    padding:10px;
}

.giphy__elements{
    height: 150px;
    width: min-content;
    overflow: auto;
    margin-top: 6px;
} 

::-webkit-scrollbar {
    display: none;
}


/* ************ POST COMPONENT AREA************* */
.post__container{
    background-color: #fff;
    max-width: fit-content;
    padding: 10px;
    margin: 2rem;
    float: left;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.post__text{
    font-size: 17px;
    margin-bottom: .7rem;
}
